h1 {font-size: 25px;text-align: center;font-family: 宋体;margin-top: 30px}
table {margin: 0px auto;width: 800px;}
.td1{text-align: lift;font-family: 宋体; font-size: 25px;}
.deh{height:30px;width: 120px;border: 0px;font-size: 20px;font-family: 宋体；}
.riqi{height:31px;width: 150px;border: 0px;font-size: 18px; }
.riqi1{height:31px;width: 260px;border: 0px;font-size: 18px; }
.nan{ height:30px;width: 40px;border: 0px;font-size: 80px；}
.zrjw{height: 30px;width: 270px;border: 0px;font-size: 20px;font-family: 宋体；}
.styel2{height:30px;width: 500px;border: 0px;font-size: 10px;font-family: 宋体;align-content: center}
.fk{border: 0px;font-family: 宋体;}
.zt{font-family: 宋体;font-size: 25px;}
.lhtxt{text-align: lift;font-family: 宋体; font-size: 18px;width: 120px;height: 30px;}
.lhtxt1{height:30px;border: 0px;font-size: 20px;font-family: 宋体;}
.dyh{width: 80px}

